@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Life Lessons with Music Videos</h1>
        <br />
        <button onclick="typeWriter()">Lesson 1</button>
        <br />
        <div id="typing"></div>
        <br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tvTRZJ-4EyI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
