#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    /* changed width and height to fit vegetable div in line. */
    width: 600px;
    height: 300px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

/* Added center class for meat div to be centered. */
.center {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 250px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    /* changed margin top to align with totalPrice div. */
    margin: 50px 0 0 0;
    float: left;
}

#cart {
    top: 0;margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
}

body {
    background-color: #F0E68C;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #800000;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #CD853F;
    font-size: medium;
}

div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(102, 95, 95);
}