/* Affects entire document */
html {
	/* This ensures that the page scrolling is smooth when the nav bar is clicked */
	scroll-behavior: smooth;
}

/* Body */
body {
	/* The site displays all the way to the edge of the browser screen */
	margin: 0%;
	/* This and transition affect the page loading fade in effect */
	opacity: 1;
	/* This causes a 3 second fade in */
	transition: 5s opacity;
	/* (vw) This unit is based on the width of the viewport */
	letter-spacing: .2vw;
	font-family: Helvetica;
	font-size: 1.5vw;
}

/* This section contributes to the fade effect for the page that occurs when the page is loaded */
.body2 .fade-out {
	/* This sets the level of opacity at the start of page load */
	opacity: .1;
	transition: none;
}

/* Navbar */
.Navbar {
	/* This ensures that any content that overflows beyond the boundary of the nav bar is not displayed */
	overflow: hidden;
	background-color: rgb(9, 34, 31);
	/* This keeps the navbar at the top of the screen as we scroll */
	position: fixed;
	/* This ensures no space is displayed above the navbar */
	top: 0;
	/* This makes the navbar span the entire width of the page */
	width: 100%;
	/*This ensures other elements don't display over the navbar */
	z-index: 1;
	/* for Safari */
	-webkit-animation: moveNav 1.5s;
	/* moveNav is the name and 2s is the duration*/
	animation: moveNav 1.5s;
}

/* Navbar text */
.Navbar a {
	/* This specifies that the text floats on the left on the navbar */
	float: left;
	/* This ensures that other text will be displayed on the same line or row, instead of a new line */
	display: block;
	color: white;
	/* This adds padding around our text */
	padding: .75vw 1vw;
	/* This gets rid of the underlines under the text on our navbar */
	text-decoration: none;
	font-family: Helvetica;
	/* This specifies the font size for text on our navbar */
	font-size: 1.5vw;
	/* This centers the text within its container */
	text-align: center;
	position: relative;
	-webkit-animation: movenavText 1.75s;
	animation: movenavText 1.75s;
	letter-spacing: .2vw;
	border-radius: 4px;
}

/* The animation effect for moving the nav bar in from above the top of the screen upon page load */
@keyframes moveNav {
	from {
		left: -100vw;
	}

	to {
		left: 0vw;
	}
}

/* The animation effect for moving the nav bar text in from above the top of the screen upon page load */
@keyframes movenavText {
	from {
		top: -100vw;
	}

	to {
		top: 0vw;
	}
}

/* Navbar hover effect */
.Navbar a:hover {
	/*  This defines the background color that will display when you hover over the text on the navbar */
	background-color: #F4F4F4;
	/* This defines the font color that will display when you hover over the text on the navbar */
	color: rgb(53, 105, 101);
	/* This makes the text on the navbar bold when hovered over */
	font-weight: bold;
	cursor: pointer;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
}

/* Background Image */
#background_image {
	/* This fixes the background image to the page  */
	position: fixed;
	/* This ensures no space between the edge of the background image and the edge of the page */
	bottom: 0;
	/*Adding width and height and keeping the min-width allows the background image to not be so zoomed in.*/
	width: 1000px;
	height: 800px;
	min-width: 100%;
	top: 0;
	/* This ensures the background image is displayed across the full width of the page */
	z-index: -1;
	animation: zoominoutsinglefeatured 5s;
}

/* This causes the background image to zoom out from a zoomed in position upon page load */
@keyframes zoominoutsinglefeatured {
	0% {
		transform: scale(1.5, 1.5);
	}

	100% {
		transform: scale(1, 1);
	}
}

/* Text over the background image */
.background_image_text {
	background: rgba(0, 0, 0, 0.5);
	/* This provides a semi-transparent background for the text to sit over */
	color: white;
	width: 100%;
	/* This adds padding around the text so that the background goes slightly beyond the text */
	padding-top: .1vh;
	padding-bottom: .1vh;
	margin-top: 23%;
	position: relative;
	-webkit-animation: movebgimageText 1.5s;
	animation: movebgimageText 1.5s;
}

/* This animation effect causes the overlay background image text to move up from the bottom of the page upon page load */
@keyframes movebgimageText {
	from {
		top: -100vw;
	}

	to {
		top: 0px;
	}
}

#slideshow2 {
	margin: auto;
	margin-top: 80px;
	margin-bottom: 80px;
	margin-left: 32%;
	position: relative;
	width: 450px;
	height: 450px;
	padding: 10px;
}

#slideshow2 > div {
	position: absolute;
	top: 10px;
	/* left: 10px; */
	/* right: 10px; */
	bottom: 10px;
}

/* Slideshow styling */
/* #slideshow_background { */
/* This creates a slightly transparent white background that's placed over the background image */
/* background: rgba(255, 255, 255, 0.35);
} */

/* Slideshow section / container */
/* .slideshow_container {
	width: 39.5vw;
	height: auto;
	padding-top: 4%;
	position: relative;
	margin: auto;
} */

/* Images contained within slideshow */
/* .slide_show_images {
	vertical-align: middle;
	height: auto;
	box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
	width: auto;
} */

/* Slideshow text */
/* .text {
	color: white;
	padding: 1vw;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-family: Perpetua, Rockwell Extra Bold;
	letter-spacing: .1vw;
	font-size: 1.5vw;
	background-color: rgba(0, 0, 0, 0.75);
	font-weight: bold;
	border-radius: 7px 7px 7px 7px;
} */

/* Table - this section covers the styling of the columns and rows within the table */
* {
	/* The asterisk is a universal selector that applies this effect to all elements on the page */
	/* This creates a box with a border within which we will place text */
	box-sizing: border-box;
}

.Column_1 {
	float: left;
	/* This ensures one column takes up half the page width */
	width: 50%;
	padding: 1.6%;
	/* This sets the height of the column at 400 pixels - if you change the text within the columns, you will need to adjust the column heights accordingly */
	height: 400px;
	background-color: #f2f2f2;
}

.Column_2 {
	float: left;
	width: 50%;
	padding: 1.6%;
	height: 400px;
	background-color: rgb(25, 65, 61);
}

/* This inserts something after the content of selected elements */
.Row:after {
	/* By leaving this blank, its allowing the footer to be displayed - removing it makes the footer overwrite a column */
	content: "";
	/* The display property specifies the type of display behavior; the table value tells the browser to treat the element as a table */
	display: table;
	/* This clears any other elements from floating on the left or the right of an element */
	clear: both;
}

/* Heading 1 elements */
h1 {
	font-family: Verdana, Geneva, Tahoma;
	text-align: center;
	/* Small margin above the headings */
	margin-top: 3%;
	color: #1a1a1a;
}

/* Paragraph elements */
p {
	font-family: Verdana bold;
	text-align: center;
	letter-spacing: 0px;
	/* This expands the text slightly */
	font-size: 1.5vw;
	padding-left: 1vw;
	padding-right: 1vw;
}

/* Center align elements - this embraces all centered text */
center {
	font-family: Georgia Bold;
	text-align: center;
	letter-spacing: 0px;
	font-size: 1.5vw;
	padding-left: 5vw;
	padding-right: 5vw;
}

/* Anchor elements */
a {
	/* All links are blue */
	color: blue;
}

/* Quotation elements */
q {
	font-style: italic;
	font-weight: bold;
}




/* Image elements */
.image_effects {
	/* This rids the pictures of 75% of their color */
	filter: grayscale(75%);
	border-radius: 8px;
	max-width: 100%;
	height: 100%;
	margin: auto auto auto auto;
	/* By specifying block display ensures images are able to be centered */
	display: block;
}

/* Image hover effects */
.image_effects:hover {
	/* Brings back most of the image color when hovered over */
	filter: grayscale(5%);
	transition: transform 1s;
	transform: scale(1.1);
}

/* Contact form styling */
/* Button used to open the contact form - fixed at the bottom of the page */
.pop_up_button {
	bottom: 1.75vw;
	right: 1.75vw;
	width: 25vw;
	background-color: white;
	color: black;
	border: solid;
	cursor: pointer;
	position: fixed;
	-webkit-animation: movePopup 1.75s;
	animation: movePopup 1.75s;
}

/* Makes contact form button slide in from right on page load */
@keyframes movePopup {
	from {
		right: -40vw;
	}

	to {
		bottom: 1.75vw;
	}
}

/* The popup form - hidden by default */
.form-popup {
	border: 3px solid #f0f1f0;
	z-index: 8;
	display: none;
	position: fixed;
	bottom: 6px;
	right: 6px;
}

/* Form styling */
.form-container {
	min-width: 49vw;
	padding: 9px;
	background-color: white;
}

/* Input fields */
.form-container input[type=text] {
	width: 100%;
	padding: .93vw;
	margin: .6vw 0 .6vw 0;
	background: Gainsboro;
	font-family: Helvetica;
	font-size: 1vw;
	border: 1px solid #ccc;
	border-radius: 4px;
}

/* Submit button */
.form-container .btn {
	background-color: white;
	color: black;
	border-color: black;
	margin-bottom: 1vh;
}

/* Close button */
.form-container .cancel {
	background-color: black;
	color: white;
	border-color: gray;
}

/* Button styling */
button {
	font-family: "Trebuchet MS", Optima;
	letter-spacing: .3vw;
	font-size: 1.5vw;
	font-weight: bold;
	padding: 1.5vw 1.5vw;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	height: auto;
}

/* Hover effect for buttons */
button:hover,
.form-container .btn:hover {
	color: white;
	background-color: rgb(9, 34, 31);
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	border-style: solid;
	border-color: silver;
}

.form-container .cancel:hover {
	color: white;
	background-color: darkred;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	border-style: solid;
	border-color: black;
}

/* Footer */
footer {
	padding: 2%;
	background-color: white;
}