/* Added body opacity and transition for all elements to appear. */
body {
    background-color: lightblue;
    color: darkblue;
    text-align: center;
    opacity: 1;
    transition: 1s opacity;
}

/* Added .fade-out so body will fade in all elements. */
body.fade-out {
    opacity: 0;
    transition: none;
}

.vid-border {
    border-style: dashed;
    border-color: red;
    border-width: 2px;
    /* position: relative; */
    height: fit-content;
    width: fit-content;
/* This is centering the image. */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* This makes the img adjust to the size of the browser. */
img {
    height: auto;
    max-width: 100%;
}

h3 {
    text-align: center;
}